<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop 
          http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/tx 
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- quartz-2.x的配置 -->
    <bean name="startQuartz" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--每日更新-->
                <ref bean="attentionTrigger" />
                <!--十日更新-->
                <ref bean="tenDayTrigger" />
            </list>
        </property>
    </bean>
    <bean id="attentionTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="attentionDetail" />
        </property>
        <property name="cronExpression">
            <value>0 45 23 1/1 * ?</value>
        </property>
    </bean>

    <bean id="tenDayTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="tenDayDetail" />
        </property>
        <property name="cronExpression">
            <value>0 45 23 2/10 * ?</value>
        </property>
    </bean>
    <!-- 调度的配置结束 -->

    <!-- job的配置开始 -->
    <bean id="attentionDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="spiderMain" />
        </property>
        <property name="targetMethod">
            <value>afterPropertiesSet</value>
        </property>
    </bean>

    <bean id="tenDayDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="spiderMain" />
        </property>
        <property name="targetMethod">
            <value>tenDay</value>
        </property>
    </bean>
    <!-- job的配置结束 -->
</beans>

